@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Quicksand:300,400,500,600,700&display=swap');

html {

}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #440154;
}

header {
    color: #B8DE29;
    background: #440154;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

header h1 {
    font-size: 38px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.main-header-link {
    color: inherit;
    text-decoration: none;
}

button {
    color: #B8DE29;
    font-size: 24px;
    margin-top: 12px;
    background-color: #440154;
    border: 2px solid #B8DE29;
}

.desktop {
    display: none;
}

.menu-toggled {
    display: flex;
    flex-direction: column;
    background-color: #440154;
    z-index: 100;
}

.menu-toggled a {
    color: #B8DE29;
    font-size: 25px;
    margin: 1rem;
    height: 2rem;
}

.selected {
    font-weight: bold;
}

main {
    margin-top: 100px;
}

h2 {
    text-align: center;
    padding: 30px;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

section p {
    text-align: justify;
    margin: 30px 20px;
    line-height: 1.5;
}

section {
    text-align: center;
    font-family: 'Inria+Serif', serif;
}

figure {
    margin: 0;
}

.flex-figcaption p {
    text-align: center;
    margin: 0;
}

section img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
}

.experience {
    max-width: 80%;
    margin: auto;
}

.experience-listing {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: right;
}

.experience-listing span {
    margin: 0 .5rem;
}

lite-youtube {
    max-width: 600px;
    margin: auto;
}

.youtube figcaption {
    margin: .5rem auto;
    text-align: right;
    max-width: 600px;
}

.contact p {
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

footer p {
    margin: 5px 0;
}

@media only screen and (min-width: 500px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        justify-content: space-around;
    }

    header {
        height: 120px;
    }

    header h1 {
        font-size: 48px;
    }

    header nav {
        margin: 20px;
    }

    header nav a {
        font-size: 22px;
        color: #B8DE29;
    }

    .flex-figcaption {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        margin: auto;
    }
}

@media only screen and (min-width: 700px) {

    header {
        height: 180px;
    }

    header h1 {
        font-size: 96px;
    }

    header nav {
        margin: 10px;
    }

    header nav a {
        font-size: 32px;
    }

    main {
        margin-top: 180px;
    }

    section p {
        max-width: 700px;
        margin: 30px auto;
        line-height: 1.75;
    }

    .experience {
        max-width: 500px;
    }
}
